{% extends "public/templates/public_template.html" %} 
{% block title %} Home {% endblock %} 
{% block content %}
<!-- class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4" -->
<div class="container">
  <div class="row">
    <div class="col">
        <button class="btn btn-primary" id="recordButton">Start Recording</button>

        <!-- <textarea
            id="Transcript"
            rows="10"
            class="bg-white shadow-md rounded-lg w-1/2 px-4"
        ></textarea> -->
    </div>
  </div>
</div>
{% endblock %}
